net.obliteracy.tetsuo.admin/Service References/MyHub/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ServiceResolverGateway" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IServiceResolverGateway_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceResolverGateway_OnShutdownGateway_InputMessage">
    <wsdl:part name="parameters" element="tns:OnShutdownGateway" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_OnShutdownGateway_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnShutdownGatewayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_OnInitializeGateway_InputMessage">
    <wsdl:part name="parameters" element="tns:OnInitializeGateway" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_OnInitializeGateway_OutputMessage">
    <wsdl:part name="parameters" element="tns:OnInitializeGatewayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_ResolveHub_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolveHub" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_ResolveHub_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolveHubResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_ResolveSpoke_InputMessage">
    <wsdl:part name="parameters" element="tns:ResolveSpoke" />
  </wsdl:message>
  <wsdl:message name="IServiceResolverGateway_ResolveSpoke_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResolveSpokeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceResolverGateway">
    <wsdl:operation name="OnShutdownGateway">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceResolverGateway/OnShutdownGateway" message="tns:IServiceResolverGateway_OnShutdownGateway_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceResolverGateway/OnShutdownGatewayResponse" message="tns:IServiceResolverGateway_OnShutdownGateway_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnInitializeGateway">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceResolverGateway/OnInitializeGateway" message="tns:IServiceResolverGateway_OnInitializeGateway_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceResolverGateway/OnInitializeGatewayResponse" message="tns:IServiceResolverGateway_OnInitializeGateway_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolveHub">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceResolverGateway/ResolveHub" message="tns:IServiceResolverGateway_ResolveHub_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceResolverGateway/ResolveHubResponse" message="tns:IServiceResolverGateway_ResolveHub_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResolveSpoke">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceResolverGateway/ResolveSpoke" message="tns:IServiceResolverGateway_ResolveSpoke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceResolverGateway/ResolveSpokeResponse" message="tns:IServiceResolverGateway_ResolveSpoke_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IServiceResolverGateway" type="tns:IServiceResolverGateway">
    <wsp:PolicyReference URI="#CustomBinding_IServiceResolverGateway_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="OnShutdownGateway">
      <soap12:operation soapAction="http://tempuri.org/IServiceResolverGateway/OnShutdownGateway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInitializeGateway">
      <soap12:operation soapAction="http://tempuri.org/IServiceResolverGateway/OnInitializeGateway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveHub">
      <soap12:operation soapAction="http://tempuri.org/IServiceResolverGateway/ResolveHub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResolveSpoke">
      <soap12:operation soapAction="http://tempuri.org/IServiceResolverGateway/ResolveSpoke" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceResolverGateway">
    <wsdl:port name="CustomBinding_IServiceResolverGateway" binding="tns:CustomBinding_IServiceResolverGateway">
      <soap12:address location="net.tcp://localhost:9000/service/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9000/service/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>