net.obliteracy.tetsuo.admin/Service References/MyHub/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OnShutdownGateway">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShutdownGatewayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInitializeGateway">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HubContract" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="baseAddress" nillable="true" type="xs:anyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInitializeGatewayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveHub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveHubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResolveHubResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveSpoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HubName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SpokeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveSpokeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResolveSpokeResult" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>